<div id="custom-user-login-form-wrapper">
  <div class="login-form-wrapper">
    <input type="text" name="username" value="" placeholder="Tên truy nhập, E-mail, hoặc Số điện thoại *" class="form-control" />
    <input type="password" name="password" value="" placeholder="Mật khẩu của bạn *" class="form-control" />
    <input type="submit" name="submit" value="Đăng nhập" class="btn btn-primary form-control" onclick="custom_user_smart_login(this); return false;" />
    <p class="custom-pass-link"><a href="/user/password">Quên mật khẩu?</a></p>
    <p class="custom-or">Hoặc</p>
    <p class="custom-social-link facebook"><a class="btn btn-fb" href="/user/login/facebook">Đăng nhập Facebook</a></p><p class="custom-social-link google"><a class="btn btn-google" href="/user/login/google">Đăng nhập Google</a></p>
    <p class="custom-register-link">Bạn chưa có tài khoản? <a href="/user/register">Đăng ký ngay</a></p>
  </div>
</div>