
.view-id-commerce_cart_form td.views-field.views-field-field-images a {
    font-weight: bold;
}

.commerce-checkout-flow-multistep-default .checkout-pane-payment-information {
    border: 0px;
    box-shadow: none;
}

.commerce-checkout-flow-multistep-default .checkout-pane-payment-information .panel-heading {
    border: 0px;
    background-color: transparent;
    display: flex;
}

.commerce-checkout-flow-multistep-default .checkout-pane-payment-information .panel-heading .panel-title {
    border-bottom: 2px solid #1e265b;
    margin-left: 0px;
    padding-left: 0px;
    font-weight: bold;
    color: #1e265b;
}

.commerce-checkout-flow-multistep-default .checkout-pane-payment-information .panel-body .profile--.profile--type--customer span {
    display: flex;
    padding-right: 10px;
    padding-bottom: 15px;
}

.commerce-checkout-flow-multistep-default .checkout-pane-payment-information .panel-body button {
    margin-top: 20px;
    margin-left: 0px;
    background-color: #1e265b;
    border-color: #1e265b;
    color: #fff;
    transition: 0.3s;
}

.commerce-checkout-flow-multistep-default .checkout-pane-payment-information .panel-body button:hover {
    background-color: #fff;
    color: #fd6220;
    border-color: #fd6220;
}

.commerce-checkout-flow-multistep-default .checkout-pane-payment-information .panel-body .profile--.profile--type--customer p.address {
    display: flex;
    flex-wrap: wrap;
}

.commerce-checkout-flow-multistep-default .checkout-pane-payment-information .panel-body .profile--.profile--type--customer span {
    display: flex;
    padding-right: 10px;
}

.commerce-checkout-flow-multistep-default .checkout-pane-payment-information .panel-body .profile--.profile--type--customer span.given-name {
    width: 100%;
}

.commerce-checkout-flow-multistep-default .checkout-pane-payment-information .panel-body .profile--.profile--type--customer span.address-line1 {
    width: auto;
}

.commerce-checkout-flow-multistep-default .profile--.profile--type--customer .field--name-field-so-dien-thoai {
    padding-bottom: 10px;
}

.view-commerce-checkout-order-summary td.views-field.views-field-field-images {
    width: 80px;
}

.view-commerce-checkout-order-summary td.views-field.views-field-field-images img.img-responsive {
    width: 100%;
}

.commerce-checkout-flow-multistep-default .layout-region.layout-region-checkout-footer {
    display: flex;
    justify-content: center;
    z-index: 1;
    position: relative;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 20px;
}


.commerce-checkout-flow-multistep-default .layout-region.layout-region-checkout-footer button {
    background-color: #fd6220;
    border-color: #fd6220;
    transition: 0.3s;
}

.commerce-checkout-flow-multistep-default .layout-region.layout-region-checkout-footer button:hover{
	background-color: #fff;
	color:  #fd6220;
}


.commerce-checkout-flow-multistep-default .layout-region-checkout-secondary h3 {
    color: #1e265b;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0px;
    border-bottom: 2px solid #1e265b;
    margin-top: 5px;
    margin-bottom: 20px;
}

.layout-region-checkout-secondary .view-id-commerce_checkout_order_summary tbody {
    border: 1px solid #f0f0f0;
}

.view-id-commerce_checkout_order_summary tr .views-field-quantity {
    padding: 10px;
    padding-top: 20px;
}

.view-id-commerce_checkout_order_summary tr .views-field.views-field-title a {
    padding-top: 13px;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 30px;
    font-weight: bold;
    color: #1e265b;
    transition: 0.3s;
    padding-left: 0px;
    font-style: initial;

}

.view-id-commerce_checkout_order_summary tr .views-field.views-field-title {
    padding-left: 10px;
    font-style: italic;
}

.view-id-commerce_checkout_order_summary tr .views-field.views-field-title br {
    display: none;
}

.view-id-commerce_checkout_order_summary tr .views-field.views-field-title br + br {
    display: block;
}

.view-id-commerce_checkout_order_summary tr .views-field.views-field-title a:hover{
	color: #fd6220;
}

.commerce-checkout-flow-multistep-default .checkout-pane-completion-message {
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.16);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.commerce-checkout-flow-multistep-default .checkout-pane-completion-message .checkout-complete p:NTh-child(2):before {
    content: "\f058";
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    font-style: initial;
    position: absolute;
    top: 27px;
    font-size: 30px;
    left: 13%;
    color: #14730e;
}

.commerce-checkout-flow-multistep-default .checkout-pane-completion-message .checkout-complete h1 {
    padding-bottom: 30px;
    color: #1e265b;
    font-size: 28px;
    text-align: center;
    position: relative;
}

.commerce-checkout-flow-multistep-default .checkout-pane-completion-message .checkout-complete p {
    color: #4c4a4a;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 5px;
    text-align: center;
}

.commerce-checkout-flow-multistep-default .checkout-pane-completion-message .checkout-complete p a.notice-completion {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    color: #Fff;
    background-color: #fd6220;
    font-style: initial;
    font-size: 16px;
    border: 1px solid #fd6220;
    transition: 0.3s;
}

.commerce-checkout-flow-multistep-default .checkout-pane-completion-message .checkout-complete p a.notice-completion:hover {
    color: #fd6220;
    background-color: #fff;
}


.commerce-checkout-flow-multistep-default .checkout-pane-completion-message .checkout-complete h1:before, .commerce-checkout-flow-multistep-default .checkout-pane-completion-message .checkout-complete h1:after {
    content: "";
    position: absolute;
  width: 7px;
  height: 7px;
  left: 0px;
  pointer-events: none;
  z-index: 99999999;
  border-radius: 50%;
  box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.commerce-checkout-flow-multistep-default .checkout-pane-completion-message .checkout-complete h1:after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-moz-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-o-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-ms-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } 
}

@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } 
}

@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } 
}

@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } 
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } 
}

@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } 
}

@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } 
}

@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } 
}

@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } 
}

@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } 
}

@media (max-width: 1199px) {
  .commerce-checkout-flow-multistep-default .checkout-pane-completion-message .checkout-complete h1 {
    padding-left: 80px;
  }

  .commerce-checkout-flow-multistep-default .checkout-pane-completion-message .checkout-complete p:NTh-child(2):before {
    left: 10%;
  }
}

@media (max-width: 767px) {
  .commerce-checkout-flow-multistep-default .checkout-pane-completion-message .checkout-complete h1 {
    font-size: 18px;
    padding-left: 30px;
  }

  .commerce-checkout-flow-multistep-default .checkout-pane-completion-message .checkout-complete p:NTh-child(2):before {
    font-size: 21px;
  }

  .commerce-checkout-flow-multistep-default .checkout-pane-payment-information .panel-heading {
    padding-left: 0px;
    padding-right: 0px;
  }

  .commerce-checkout-flow-multistep-default .checkout-pane-payment-information .panel-body {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 479px) {
  .commerce-checkout-flow-multistep-default .checkout-pane-completion-message {
    width: auto;
  }
}
